<!DOCTYPE html>
<html>
  <head>
    <title>Real-time Text</title>
    <script src="https://cdn.socket.io/4.3.1/socket.io.min.js"></script>
    <script>

      var socket = io('http://127.0.0.1:5001');
      socket.on('text_update', function(text) {
        var textContainer = document.getElementById('textContainer');
        textContainer.innerText = text;
      });
    </script>
  </head>
  <body>
    <h1>{{ flowertext }}</h1>
    <div id="textContainer"></div>
        <script>
        setInterval(function () {
            location.reload();
        }, 500); // 每5秒刷新页面
    </script>
  </body>
</html>